<h2 class="kairos-level2-header">Watchlist</h2>
<div class="kairos-fixed-header-background"></div>
<div class="kairos-fixed-header-margin"></div>
<hr>

<!-- SCREENER RESULTS -->

<h3 *ngIf="watchlist.length" class="kairos-space-between">
  My Watchlist ({{ watchlist.length }}):
  <a
    (click)="showPropertiesModal = true"
    class="nav-link nav-icon"
    aria-label="settings"
  >
    <clr-icon shape="cog"></clr-icon>
  </a>
</h3>

<table class="table" *ngIf="watchlist.length">
  <thead>
    <tr>
      <th class="left">Company Name</th>
      <th class="left">Current Price</th>
      <th class="left">Fair Value</th>
      <th class="left" *ngFor="let property of watchlistProperties">{{property.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of watchlist">
      <td>
        <a class="nav-link" [routerLink]="'../companies/' + company.SimFinId">
          {{ company.CompanyName }} ({{ company.Ticker }})
        </a>
      </td>
      <td>
        <span *ngIf="company.currentPrice">{{company.currentPrice | number}}</span>
      </td>
      <td>
        <span *ngIf="company.fairValue">{{company.fairValue | number}}</span>
        <span *ngIf="!company.fairValue">N/A</span>
      </td>
      <td *ngFor="let property of watchlistProperties">{{company[property.title] | number}}</td>
    </tr>
  </tbody>
</table>







<!-- FILTER RESULT PROPERTIES MODAL -->

<clr-modal
  [(clrModalOpen)]="showPropertiesModal"
  clrModalSize="md"
  [clrModalStaticBackdrop]="false"
  (clrModalOpenChange)="onPropertyModalClosed()"
>
  <h3 class="modal-title">Watchlist Table Properties</h3>
  <div class="modal-body" style="display: flex">
    <clr-checkbox-container>
      <clr-checkbox-wrapper *ngFor="let chartType of TOTAL_CHART_TYPES">
        <input type="checkbox" clrCheckbox value="chartType" name="options" [(ngModel)]="chartType.selected" (ngModelChange)="onCheckboxChange()"/>
        <label>{{chartType.title}}</label>
      </clr-checkbox-wrapper>
    </clr-checkbox-container>
  </div>

</clr-modal>
